<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap" rel="stylesheet">
  <title>John Aisthorpe</title>
</head>
<body>
  <header>
    <h1 id="name">John Aisthorpe</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/">Projects</a>
        </li>
        <li>
          <a href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <header>
        <h1>Projects</h1>
      </header>
        <h2>Event Manager:</h2>
        <ul>
          <li>Flask</li>
          <li>PostgreSQL database</li>
          <li>individual project</li>
        </ul>
        <h2>Travel Log:</h2>
        <ul>
          <li>React</li>
          <li>PostgreSQL database</li>
          <li>Team of four</li>
        </ul>
        <h2>Book shop:</h2>
        <ul>
          <li>React</li>
          <li>PostgreSQL database</li>
          <li>Team of two</li>
        </ul>
        
      <footer>
      </footer>
    </article>
  </main>
</body>
</html>