<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>John Aisthorpe</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
</head>

<body>
    <header>
        <h1>John Aisthorpe</h1>

        
        <img src="/static/images/avatar.jpeg" class="avatar" align="left">
      

        <p class="header">
          I am a Software Developer having recently completed a 16 week bootcamp with CodeClan. Previously I studied Product Design Engineering and worked as an Engineer with a climbing wall manufacturer for 3 years. The opportunity to delve deeper into my interest in software presented itself and I haven't looked back.
        </p>
        <p>Here is a brief overview of software projects I have worked on:</p>
    </header>

    <article>
      <h2>Projects</h2>
      
      <h4>Event Manager: Flask - PostgreSQL - Individual</h4>
      
      <h4>Travel Log: React - PostgreSQL - Team of four</h4>
        
      <h4>Book shop: Typescript - React - MongoDB - Team of two</h4>
      

        <h2>Pictures</h2>
        <p>
            <img src="/static/images/rock-climbing.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/rock-climbing2.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/rock-climbing3.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/mountainbiking.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/Sgor-Gaoith.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/skiing-glen-feshie.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/skiing-glen-feshie-silhouette.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/Wild-mountain-thyme-E5.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/Ardenfreaky-E3.jpeg"  alt="">
        </p>
        <p>
            <img src="/static/images/ardenfreaky-E3-01.jpeg"  alt="">
        </p>
        
        

    </article>
</body>
</html>
